/* Stylesheet for Age Calculator */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
  font-family: Arial, sans-serif;
  padding: 450px;
  margin: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #dcc3c3, #4b76b2);
 
}

.box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #7c1414;
}

input[type="date"] {
  width: calc(100% - 22px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

